@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Route Master</h1>
    <p>Pardon our dust. Operations are underway to help you have a smooth and safe haul.</p>
</div>


<p><a asp-controller="Convoy" asp-action="Index">Convoy Planning</a></p>