@page
@model RouteMaster.Pages.Convoy.IndexModel
@{
    ViewData["Title"] = "Convoys";
}

<h1>Convoy Planning</h1>

<p>
    Pardon our dust. You will be able to plan and manage convoys from here.
</p>


